## list Comprehension

In [1]:
a= [1,2,3,4,5]
a_square = []
for i in a:
   a_square.append (i*i)

In [2]:
a_square

[1, 4, 9, 16, 25]

In [3]:
[i*i for i in a]

[1, 4, 9, 16, 25]

In [3]:
a = [1,2,5,7,9]

In [7]:
[i*i*i for i in a]

[1, 8, 125, 343, 729]

In [13]:
[i*i for i in a]

[1, 4, 25, 49, 81]

In [14]:
[i**2 for i in a if i%2==0]

[4]

In [15]:
name = ['leon', 'ada', 'karuser', 'saddler']

In [26]:
[ name.replace('a','') for name in name ]

['leon', 'd', 'kruser', 'sddler']

Map

In [1]:
map( lambda expression, iterator )

SyntaxError: invalid syntax (Temp/ipykernel_5644/940175240.py, line 1)

In [8]:
 res = map( lambda i: i**3, a)

In [10]:
list(res)

[]

In [9]:
for i in res:
    print(i)

1
8
125
343
729

In [25]:
## WAP TO GET THE PRICES FROM THIS LIST ['$34.23/-', '$67.34', '$43.23/-', '$54.99']
a = ['$34.23/-', '$67.34', '$43.23/-', '$54.99']

In [14]:
a

['$34.23/-', '$67.34', '$43.23/-', '$54.99']

In [23]:
for i in a :
    print(i.strip('$/-'))

34.23
67.34
43.23
54.99

In [27]:
list(map(lambda i: float(i.strip('$/-')),a))

[34.23, 67.34, 43.23, 54.99]

FILTER

In [29]:
AGES = [53, 45, 67, 45, 65, 35 ,12, 16, 23 ]
list(filter( lambda a : a>25, AGES))

[53, 45, 67, 45, 65, 35]

In [1]:
sorted([45,67,89,33,795])

[33, 45, 67, 89, 795]

In [2]:
users = ['123users432', '332users043', '534user362']

In [3]:
sorted(users , key= lambda i : i[-3])

['332users043', '534user362', '123users432']

In [1]:
fruits= ['apple', 'lichi', 'orange', 'papaya', 'strawberry']

In [2]:
sorted(fruits)

['apple', 'lichi', 'orange', 'papaya', 'strawberry']

In [3]:
sorted(fruits, key=lambda i: i[-1], reverse= True)

['strawberry', 'lichi', 'apple', 'orange', 'papaya']

In [4]:
t1 = [(3,5), (5,2), (7,1), (54,4)]

In [5]:
sorted(t1)

[(3, 5), (5, 2), (7, 1), (54, 4)]

In [8]:
sorted(t1, key=lambda i : i[0])

[(3, 5), (5, 2), (7, 1), (54, 4)]

In [9]:
t1.sort()

In [10]:
t1

[(3, 5), (5, 2), (7, 1), (54, 4)]

 WAP TO SPLIT FIRST AND LAST NAME IN A LIST OF FULLNAMES USING MAP AND COMPREHENSION .
 ['LEON KENNEDY', 'ADA WONG'] GIVES [('LEON', 'KENNEDY'), ('ADA WONG')]

In [29]:
names = ['ashutosh maurya', 'mohd javed', 'ayan khan ', 'jhetalal tappu']

In [30]:
names

['ashutosh maurya', 'mohd javed', 'ayan khan ', 'jhetalal tappu']

In [32]:
[tuple(x.split() for x in names)]

[(['ashutosh', 'maurya'],
  ['mohd', 'javed'],
  ['ayan', 'khan'],
  ['jhetalal', 'tappu'])]

AttributeError: 'str' object has no attribute 'spilt'

In [2]:
tupl = ()
tupl1 = tupl*2
print(len(tupl1))

0

In [3]:
tuple1 = (2,4,3)

In [4]:
tuple3= tuple1*2
print(tuple3)

(2, 4, 3, 2, 4, 3)

In [6]:
list1= [8,0,9,5]
print(list1[::-1])

[5, 9, 0, 8]

In [7]:
list1 = [3,2,5,7,3,6]
list1.pop(3)
print(list1)

[3, 2, 5, 3, 6]

In [8]:
2**2**3**1

256

In [9]:
abc = 1,000,000

In [10]:
abc

(1, 0, 0)

In [13]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [14]:
print('ab cd ef '.title())

Ab Cd Ef

In [15]:
d= {"a":3, "b":7}

In [16]:
type(d)

dict

In [17]:
str1 = "python"

In [18]:
str1

'python'

In [19]:
print(str1[2])

t

In [20]:
str1[1]="x"

TypeError: 'str' object does not support item assignment

In [21]:
print(str1[0:9])

python

In [22]:
str1 = "Information"

In [23]:
print(str1[2:8])

format

In [24]:
set1 = {2,5,3}
set2= {3,1}
set3 = {}

In [25]:
set1&set2

{3}

In [26]:
print(set3)

{}

In [32]:
abc = 1000

In [33]:
abc

1000

In [37]:
>>>t = (1,2)>>>2*t
*t

SyntaxError: invalid syntax (Temp/ipykernel_1244/3419677644.py, line 1)