In [1]:
t1 = (1,2, 45)

In [2]:
type(t1)

tuple

In [3]:
t2 = 3, 7, 7 ,9

In [4]:
type(t2)

tuple

In [5]:
a, b = 40,50

In [6]:
a

40

In [10]:
m = 5,

In [8]:
m

5

In [11]:
type(m)

tuple

In [15]:
sets={}

In [16]:
type(sets)

dict

In [17]:
s1 = {1,3,6,7}

In [18]:
type(s1)

set

In [20]:
ironman2 = {'tony stark', 'black widow', 'nick furry', 'happy'}
spiderman2 = {'peter parker', 'happy', 'dr strange'}
avengers = {'thones', 'tony stark', }

In [21]:
spiderman2.difference(ironman2)

{'dr strange', 'peter parker'}

In [6]:
#WAP TO FIND ALL THE COMMON VOWELS IN TWO NAMES.
#WAP TO REMOVE ALL VOWELS FROM YOUR NAME.

#WAP TO FIND ALL THE UNIQUE WORDS IN A SENTENCE.

s1 = input('enter the string: ')
s2 = input('enter the string: ')
print(s1)
print(s2)
a = list(set(s1)&set(s2))
print('the common letter is: ')
for i in a:
    print(i)

common string
in both input
the common letter is:

i
t
n
o

In [2]:
sentence = "the is were they this is was were there"

In [3]:
set(sentence.split())

{'is', 'the', 'there', 'they', 'this', 'was', 'were'}

In [13]:
#WAP TO FIND ALL THE COMMON VOWELS IN TWO NAMES.

#NUM1 = input("ENTER THE NAME1: ")
#NUM2 = input("ENTER THE NAME2: ")
#print(NUM1)
#print(NUM2)
#a = list(set(NUM1))

In [5]:
name1 = "Leon s Kennedy"
name2 = " ada Wong"

vowels = set('aieou')

In [6]:
name1_vowels = vowels.intersection(name1)
name2_vowels = vowels.intersection(name2)

In [22]:
#STRING = input("ENTER THE STRING: ")
#WAP TO REMOVE ALL VOWELS FROM YOUR NAME.
def rem_vowel(string):
    vowels = ['a','e','i','o','u']
    result = [letter for letter in string if letter.lower() not in vowels]
    result = ''.join(result)
    print(result)

In [23]:
string = "LUCKNOW IS THE BEST CITY"
rem_vowel(string)

LCKNW S TH BST CTY

In [7]:
a = {1,2,3,4,6,9}
b= {3,6,4,9}

In [8]:
a.intersection(b)

{3, 4, 6, 9}

In [10]:
a.intersection_update(b)

In [11]:
a

{3, 4, 6, 9}